@charset "utf-8";
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body {
	background: url('https://source.unsplash.com/collection/292287/') no-repeat center center fixed;
	background-size: cover;
	text-transform: lowercase;
	font-family: monospace;
	font-size: 18px;
	color: white;
    padding: 0;
    margin: 0;
}
div#background {
	position: absolute;
	height: 100%;
	width: 100%;
}
p.top, p.bottom {
	position: absolute;
	font-size: 14px;
	width: 100%;
}
p.top { top: 0%; }
p.bottom { bottom: 0%; }
div.centerWrapper {
	-webkit-transform: translateY(-50%);
	transform:         translateY(-50%);
	position: absolute;
	width: 40%;
	left: 30%;
	top: 50%;
}
div.timeDate {
	font-size: xx-large;
	text-align: center;
	padding: 0.5rem 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.subMenu {
	display: none;
	width: 100%;
}
a {
	-webkit-transition: all .15s;
	transition:         all .15s;
	text-decoration: none;
	display: block;
	outline: none;
	padding: 15px;
	color: #111;
}
a:after {
	-webkit-transition: all .15s;
	transition:         all .15s;
	content: "→";
	opacity: 0;
}
a:hover:after, a.active:after {
	padding-left: 6px;
	opacity: 1;
}
a.parent:after { content: "↓"; }
a.parent.active:after { content: "↑"; }
p {
	padding: 15px;
	margin: 0;
}
p a {
	display: inline-block;
	color: inherit;
	padding: 0;
}
p a:after { display: none; }
.left   { float: left; }
.right  { float: right; }
.clear { clear: both; }
div.right, div.left { width: 50%; }
ul.box li a { background-color: rgba(255, 255, 255, 0.4); }
ul li a:hover, ul li a.active, ul li a.active + ul.subMenu li a { background-color: rgba(255, 255, 255, 0.5); }
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
.fadeIn {
	-webkit-animation: fadeIn 1s .5s both ease-in;
	animation:         fadeIn 1s .5s both ease-in;
}
