@charset "utf-8";
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body {
	-webkit-animation: fadeIn .5s ease-in .5s 1 both;
	animation:         fadeIn .5s ease-in .5s 1 both;
	font-family: 'Inconsolata', monospace;
	text-transform: lowercase;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: 18px;
	display: flex;
	height: 100vh;
	color: #aaa;
	opacity: 0;
    padding: 0;
    margin: 0;
}
ul.box {
    background-color: rgba(0, 0, 0, .5);
	list-style: none;
	display: block;
	width: 40%;
	padding: 0;
	margin: 0;
}
ul.subMenu {
	list-style: none;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
a {
	-webkit-transition: all .25s;
	transition:         all .25s;
	text-decoration: none;
	display: block;
	outline: none;
	padding: 10px;
	color: #fff;
}
a:after {
    -webkit-transform: translateX(-20px);
    transform:         translateX(-20px);
	-webkit-transition: all .25s;
	transition:         all .25s;
	content: "→";
	opacity: 0;
}
a:hover:after, a.active:after {
    -webkit-transform: translateX(0);
	transform:         translateX(0);
	-webkit-transition: all .25s;
	transition:         all .25s;
	padding-left: 6px;
	opacity: 1;
}
p {
	padding: 10px;
	margin: 0;
}

span    { color: #aaa; }
.left   { float: left; }
.clear  { clear: both; }
.right  { float: right; }
.center { text-align: center; }
div.right, div.left { width: 50%; }

body.bg1 { background: linear-gradient(top, #2F2727, #1a82f7); }
body.bg2 { background: linear-gradient(top, #282175, #8ea77b); }
body.bg3 { background: linear-gradient(top, #1F1C2C, #928DAB); }
body.bg4 { background: linear-gradient(top, #ec7972, #7879c7); }
body.bg5 { background: linear-gradient(top, #c71d37, #1d63e6); }
body.bg6 { background: linear-gradient(top, #2bdcfe, #a807b1); }
body.bg7 { background: linear-gradient(top, #6111bc, #7c90ad); }
body.bg8 { background: linear-gradient(top, #348F50, #56B4D3); }
body.bg9 { background: linear-gradient(top, #7db1c2, #315d90); }
body.bg10{ background: linear-gradient(top, #cf353b, #29a39a); }
body.bg11{ background: linear-gradient(top, #6b64be, #e0c87d); }
body.bg12{ background: linear-gradient(top, #3d72b4, #525252); }
body.bg13{ background: linear-gradient(top, #517fa4, #243949); }
body.bg14{ background: linear-gradient(top, #FFA17F, #00223E); }
body.bg15{ background: linear-gradient(top, #360033, #0b8793); }

body.rnbw{ background: -webkit-gradient(linear,  left top,  left bottom,
        				color-stop(0%, rgba(255, 0, 0, 1)),
        				color-stop(15%, rgba(255, 255, 0, 1)),
        				color-stop(30%, rgba(0, 255, 0, 1)),
        				color-stop(50%, rgba(0, 255, 255, 1)),
        				color-stop(65%, rgba(0, 0, 255, 1)),
        				color-stop(80%, rgba(255, 0, 255, 1)),
        				color-stop(100%, rgba(255, 0, 0, 1)));
		   background: -moz-linear-gradient( top ,
        				rgba(255, 0, 0, 1) 0%,
        				rgba(255, 255, 0, 1) 15%,
        				rgba(0, 255, 0, 1) 30%,
        				rgba(0, 255, 255, 1) 50%,
        				rgba(0, 0, 255, 1) 65%,
        				rgba(255, 0, 255, 1) 80%,
        				rgba(255, 0, 0, 1) 100%);
		 font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard', fantasy;
		 font-size: 115%;
}

ul > li:hover > a#parent1, a.tab1, a.tab1:hover, a#parent1:hover, a#parent1.active { background-color: #336666; }
ul > li:hover > a#parent2, a.tab2, a.tab2:hover, a#parent2:hover, a#parent2.active { background-color: #663333; }
ul > li:hover > a#parent3, a.tab3, a.tab3:hover, a#parent3:hover, a#parent3.active { background-color: #336633; }
ul > li:hover > a#parent4, a.tab4, a.tab4:hover, a#parent4:hover, a#parent4.active { background-color: #663366; }
ul > li:hover > a#parent5, a.tab5, a.tab5:hover, a#parent5:hover, a#parent5.active { background-color: #84AED0; }
ul > li:hover > a#parent6, a.tab6, a.tab6:hover, a#parent6:hover, a#parent6.active { background-color: #666633; }
a#parent1:after, a#parent2:after, a#parent3:after, a#parent4:after, a#parent5:after, a#parent6:after { content: "↓"; }
ul > li:hover > a#parent1, ul > li:hover > a#parent2, ul > li:hover > a#parent3, ul > li:hover > a#parent4, ul > li:hover > a#parent5, ul > li:hover > a#parent6, a:hover, a.active { opacity: 1; }

@media (max-width: 768px) { ul.box { width: 70%; } }

@-webkit-keyframes fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}
