@charset "utf-8";
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body {
	background: url('https://source.unsplash.com/collection/292287/') no-repeat center/cover fixed;
	font: 18px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	animation: fadeIn .75s .75s both ease-in;
	text-transform: lowercase;
	color: white;
    margin: 0;
}
div#background {
	position: absolute;
	height: 100%;
	width: 100%;
}
div.centerWrapper {
	transform: translateY(-50%);
	position: absolute;
	width: 50vw;
	left: 25vw;
	top: 50%;
}
div.timeDate div {
	font-size: xx-large;
	padding: 0 5px 5px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.subMenu {
	display: none;
	width: 100%;
}
a {
	transition: all .15s;
	text-decoration: none;
	display: block;
	outline: none;
	padding: 15px;
	color: #111;
}
a:after {
	transition: all .15s;
	content: "→";
	opacity: 0;
}
a:hover:after, a.active:after {
	padding-left: 5px;
	opacity: 1;
}
a.parent:after        { content: "↓"; }
a.parent.active:after { content: "↑"; }
p {
	padding: 15px;
	margin: 0;
}
p.top, p.bottom {
	position: absolute;
	font-size: smaller;
	width: 100%;
}
p.top    { top:    0%; }
p.bottom { bottom: 0%; }
p a {
	display: inline-block;
	color: inherit;
	padding: 0;
}
p a:after { display: none; }
p a:hover { text-decoration: underline; }
.clear { clear: both; }
.left  { float: left; }
.right { float: right; }
.text-right { text-align: right; }
.no-transform { text-transform: none; }
div.right, div.left { width: 50%; }
ul.box li a { background-color: rgba(255, 255, 255, .4); }
ul li a:hover, ul li a.active, ul li a.active + ul.subMenu li a { background-color: rgba(255, 255, 255, .6); }
@media (max-width: 985px) {
	ul.box div.left, ul.box div.right, div#time, div#date {
		text-align: center;
		float: none;
		width: 100%;
	}
	div.timeDate div { padding-bottom: 15px; }
	a:after { display: none; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
