@charset "utf-8";
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body {
	background: #222 no-repeat center/cover fixed;
	font: 18px 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	animation: fadeIn .75s both ease-in;
	text-transform: lowercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	color: white;
    margin: 0;
}
div#background {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	height: 100%;
	width: 100%;
}
div.centerWrapper {
	transform: translateY(-50%);
	position: absolute;
	width: 50vw;
	left: 25vw;
	top: 50%;
}
div.large, div.small { display: flex; }
div.large div { font-size: xx-large; }
div.large div, div.small div {
	padding: 0 5px 10px;
	flex: 1;
}
div#lastFM a {
	color: white;
	display: inline-block;
	padding: 15px 0;
}
ul {
	text-shadow: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.subMenu {
	display: none;
	width: 100%;
}
ul.box a {
	color: #111;
	padding: 15px;
}
a {
	transition: all 0.25s;
	text-decoration: none;
	display: block;
	outline: none;
	color: white;
}
p {
	padding: 15px;
	margin: 0;
}
p.bottom {
	position: absolute;
	font-size: smaller;
	width: 100%;
	bottom: 1%;
}
.clear { clear: both; }
.left  { float: left; }
.right { float: right; }
.text-right, .right * { text-align: right; }
.text-center { text-align: center;}
.no-transform { text-transform: none; }
div.right, div.left { width: 50%; }
ul.box li a { background-color: rgba(255, 255, 255, 0.5); }
ul li a:hover, ul li a.active, ul li a.active + ul.subMenu li a { background-color: rgba(255, 255, 255, 0.7); }
ul li a:hover span,  ul li a.active span, ul li a.active + ul.subMenu li a span { text-decoration: underline; }
@media (max-width: 985px) {
	ul.box div.left, ul.box div.right, div.large div, div.small div {
		text-align: center;
		float: none;
		width: 100%;
	}
	.right * { text-align: inherit; }
	div.large, div.small { display: block; }
	div.large div, div.small div {
		padding-bottom: 15px;
		height: auto;
	}
}
@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
